html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    line-height: 1.5;
}

.container {
    width: 80rem;
    margin: 0 auto;
}

header.title {
    text-align: center;
    background-color: blue;
    color: beige;
    border-radius: 25px 25px 0 0;
}

.recipe-list {
   list-style: none;
   text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.container.img,
content {
    display: inline-block;
}